<!doctype html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <header>
            <h3>Make a guess-the-word puzzle and share it with your friends</h3>
        </header>
        <main>
            <center>
                <form action="/games" method="post">
                    <label for="answer">Answer:</label>
                    <input type="text" name="answer"/><br />
                    <label for="num_attempts">Guesses allowed:</label>
                    <input type="text" name="num_attempts"/><br />
                    <input type="submit" value="Create game" />
                </form>
            </center>
        </main>
        <footer>
            <p>
            {{ .Stats.GamesCreated }} games created, {{ .Stats.GuessesMade }} guesses made,
            {{ .Stats.GamesWon }} games won!
            </p>
        </footer>
    </body>
</html>
