<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <form action="/games" method="post">
        <label for="answer">Answer:</label>
        <input type="text" name="answer"/><br />
        <label for="num_attempts">Guesses allowed:</label>
        <input type="text" name="num_attempts"/><br />
        <input type="submit" value="Create game" />
    </form>
    <br />
    <p>
        {{ .Stats.GuessesMade }} guesses made across {{ .Stats.GamesCreated }} games.
    </p>
</html>