<html>
    <head>
        <style>
            .correct {
                color: green;
            }

            .partial {
                color: yellow;
            }
        </style>
    </head>
    {{ if not .GameState.CanContinue }}
    <h1>
        {{ if .GameState.IsVictorious }}
        You are victorious!
        {{ else }}
        You lost :(
        {{ end }}
    </h1>
    {{ end }}
    <p>The word has {{ .Length }} letters.</p>
    <form action="/game/{{ .Token }}" method="post">
        <label for="guess">The word is:</label>
        <input id="guess" name="guess" minlength="{{ .Length }}" maxlength="{{ .Length }}" />
        <input type="submit" value="Guess!" />
    </form>
    <p>Your guesses:</p>
    <ul>
        {{ range $index, $element := .GameState.Attempts }}
        <li>
            {{ range $i, $ch := $element }}
            <span {{ if $ch.IsCorrect }} class="correct" {{ else if $ch.IsPartial }} class="partial" {{ end }}>
                {{ $ch.Value }}
            </span>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</html>